---
interface Props {
  id: string;
  serviceTitle: string;
  images?: string[];
  serviceList: {
    name: string;
    price?: string;
    note?: string;
  }[];
}

let { serviceList, serviceTitle, images, id } = Astro.props;
if (images.length === 0)
  images = [
    "/wp-content/themes/bossnailspanorman/assets/images/services/1.webp",
    // "/wp-content/themes/bossnailspanorman/assets/images/services/2.webp",
    // "/wp-content/themes/bossnailspanorman/assets/images/services/3.webp",
  ];
---

<a name={serviceTitle}></a>
<div class="group_services divseracti" id={`seracti_${id}`}>{serviceTitle}</div>
<div class="servicesbox bg_services services_active" id={`services_${id}`}>
  <div class="servicesgroup">
    <div class="col-lg-4 col-md-4 servicesimg">
      <div class="servicesimg">
        {images.map((image) => <img src={image} />)}
      </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12 grouprow">
      {
        serviceList.map((service) => (
          <div class="row_svpage">
            <div class="row_name text-color-sv">{service.name}</div>
            {service.price && <div class="price">{service.price}</div>}
            {service.note && <div class="row_note">{service.note}</div>}
          </div>
        ))
      }
      <!-- <div class="row_svpage">
        <div class="row_name text-color-sv">Classic Manicure</div>
        <div class="price">$21</div>
      </div>
      <div class="row_svpage">
        <div class="row_name text-color-sv">Signature Manicure</div>
        <div class="price">$31</div>
        <div class="row_note">
          This manicure consists of nail trimming, shaping, cuticle care, sugar
          scrub, hot towels, paraffin wax, and massage and is finished with your
          choice of color.
        </div>
      </div>
      <div class="row_svpage">
        <div class="row_name text-color-sv">The Boss Manicure</div>
        <div class="price">$41</div>
        <div class="row_note">
          This manicure includes a 5-minute shoulder massage, nail trimming and
          shaping, cuticle care, buffing, sugar scrub, hot towels, mask,
          collagen glove, and massage. It is finished with your choice of color.
        </div>
      </div>
      <div class="row_svpage">
        <div class="row_name text-color-sv">Gel Manicure</div>
        <div class="price">$41</div>
        <div class="row_note">
          This manicure includes nail trimming, shaping, cuticle care, buffing,
          gel polish, and massage lotion. We finish with a gel polish that lasts
          for 2 weeks with infinite shine, no chipping, and no damage to the
          natural nails.
        </div>
      </div>
      <div class="row_svpage">
        <div class="row_name text-color-sv">Dipping Powder</div>
        <div class="price">$46</div>
      </div>
      <div class="row-name-title">Add-ons:</div>
      <div class="row_svpage">
        <div class="row_name text-color-sv">Ombre Dip</div>
        <div class="price">$15</div>
      </div>
      <div class="row_svpage">
        <div class="row_name text-color-sv">Extra Length</div>
        <div class="price">$5+</div>
      </div>
      <div class="row_svpage">
        <div class="row_name text-color-sv">French Tips</div>
        <div class="price">$5+</div>
      </div>
      <div class="row_svpage">
        <div class="row_name text-color-sv">Special Shapes</div>
        <div class="price">$5+</div>
        <div class="row_note">Coffin, Oval, Almond, Stiletto</div>
      </div>
      <div class="row_svpage">
        <div class="row_name text-color-sv">Cut &#038; Reshape</div>
        <div class="price">$5+</div>
      </div>
      <div class="row_svpage">
        <div class="row_name text-color-sv">Pamper Me</div>
        <div class="price">$20</div>
        <div class="row_note">
          Enjoy cuticle trim, sugar scrub, mask, hot towel, paraffin wax, and
          arm and shoulder massage!
        </div>
      </div> -->
      <!--End-->
    </div>
  </div>
</div>
