---
import { getImage } from "astro:assets";
import type { ServiceContent } from "../../schema/homePage";
import { urlFor } from "../utils/image";
import { PortableText } from "astro-portabletext";

interface Props {
  data: ServiceContent;
}
let { title, description, image, link = "/services" } = Astro.props.data;

const imageOptimized = await getImage({
  src: urlFor(image).url(),
  inferSize: true,
  format: "webp",
});
---

<div class="sk__iconbox-services1">
  <div class="sk__iconbox">
    <a class="services_home" href={link}>
      <img decoding="async" src={imageOptimized.src} />
    </a>
    <a class="sk__iconbox-text-link gradient-links-bright" href={link}>
      <h5>{title}</h5>
    </a>
    <div>
      <img
        decoding="async"
        src="/wp-content/themes/bossnailspanorman/assets/images/services-home/line-home.png"
      />
    </div>
    <PortableText value={description} />
    <div class="bottom-wrapper">
      <a class="btn btn-outline-gold" href={link} role="button">Our Services</a>
    </div>
  </div>
</div>
<style>
  .sk__iconbox {
    position: relative;
  }
  .bottom-wrapper {
    margin-top: 0.5rem;
  }

  @media all and (min-width: 1024px) {
    .bottom-wrapper {
      position: absolute;
      bottom: 2.5rem;
      left: 0;
      right: 0;
      display: flex;
      justify-content: center;
    }
  }
</style>
